<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añadir canción</title>
    <style>
        * {
            font-family: Arial;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        a:hover, a:focus, a:active {
            color: inherit;
        text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Añadir canción</h1>

    <form action="{{ url_for('add_cancion')}}" , method="POST">
        <label for="titulo">Título</label>
        <input type="text" id="titulo" name="titulo" value="{{cancion.titulo}}" required>
        <br><br>
        <label for="artista">Artista</label>
        <input type="text" id="artista" name="artista" value="{{cancion.artista}}" required>
        <br><br>
        <label for="duracion">Duración</label>
        <input type="text" id="duracion" name="duracion" value="{{cancion.duracion}}" required>
        <br><br>
        <label for="link">Enlace de la canción</label>
        <input type="text" id="link" name="link" value="{{cancion.link}}" required>
        <br><br>
        <button type="submit">Crear</button>
    </form>
    <br><br>
    <button><a href="{{url_for('get_canciones')}}">Volver a la lista de canciones</a></button>
</body>
</html>