<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Canciones</title>
    <style>
        * {
            font-family: Arial;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        a:hover, a:focus, a:active {
            color: inherit;
        text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Lista de canciones</h1>
    <button><a href="{{url_for('add_cancion')}}">Añadir canción</a></button>
    <ul>
        {% for cancion in canciones %}
        <li><b>[{{cancion.id}}]</b> {{cancion.titulo}} - {{cancion.artista}} ({{cancion.duracion}})</b>

            <button><a href="{{url_for('play_cancion', cancion_id=cancion.id)}}">Reproducir</a></button>
            <button><a href="{{url_for('edit_cancion', cancion_id=cancion.id)}}">Editar</a></button>
            <form action="{{url_for('delete_cancion', cancion_id=cancion.id)}}" method="post" style="display:inline">
                <button type="submit">Eliminar</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <p> {{myJson}} </p>
</body>
</html>